.main{
      background-color:black ;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.page{
   margin-left: 600px;
   margin-right: 600px;
   margin-top: 80px;
   margin-bottom: 80px;
    border-radius: 8px;
    background-color:rgb(25, 24, 24);
    padding:30px; 
    max-width: 900px; 
    width: 100%;
}
.para1{
  padding: 20px;
  align-items: center;
  justify-items: center;
  
}
.para1 h2{
    color: white;
}
.para1 h4{
    color: greenyellow;
}
.para1 img{
border-radius: 50%;
height: 90px;
margin: 30px;
}
.para2{
    display: grid;
    
}
.para2 p{
    color: white;
    font-size: 13px;
    align-items: center;
    justify-content: center;
}
.para2 button{
    background-color: rgb(61, 59, 59);
    color: white;
    border-radius: 5px;
    margin:8px;
    padding: 5px;
}
.para2 a{
    text-decoration: none;
    color: white;
}
.para2 button:hover{
    background-color: greenyellow;
}
@media only screen and (max-width: 768px){
    .main{
        max-width: 100%;
    }
    .page {
        margin: 5px;
        padding: 10px;
        max-width: 100%;
    }
    .para1{
        margin-left: 45px;
    }
    .para1 h2{
        font-size: 30px;
    }
    .para1 h4{
        font-size: 20px;
       color: greenyellow;
    }
    .para1 img{
        margin:50px;
        height:120px;
    }
    .para2 {
        margin-left: 20px;
    }
    .para2 p{
        font-size: 20px;
    }
    .para2 button{
        width: 80%;
        align-items: center;
        justify-content: center;
        margin-left: 30px;
        border-radius: 8px;
    }
}